---
layout: page
title: Align Test
---
<h2>Text Align</h2>
{% for i in (1..3) %}
{% capture alignment %}{% cycle 'left','right','center' %}{% endcapture %}
<div class="tn-row">
<div class="tn-col-1-2">
<p class="tn-text-align-{{alignment}} tn-element-color-main-red tn-text-color-main-white">
text-align-{{alignment}}
</p>
</div>
</div>
{% endfor %}

<h2>Element Align</h2>
{% for i in (1..3) %}
{% capture alignment %}{% cycle 'left','right','center' %}{% endcapture %}
<div class="tn-row">
<div class="tn-col-1-2 tn-element-align-{{alignment}}">
<p class="tn-element-color-main-red tn-text-color-main-white">
element-align-{{alignment}}
</p>
</div>
</div>
{% endfor %}

<h2>Virtical Align</h2>
<p>Coming soon</p>
