---
layout: page
title: Align Test
---

{% for i in (1..3) %}
{% capture alignment %}{% cycle 'left','right','center' %}{% endcapture %}
<div class="tn-row">
<div class="tn-col-1-2">
<p class="tn-text-align-{{alignment}} tn-element-color-tumblenet tn-text-color-white">
text-align-{{alignment}}
</p>
</div>
</div>
{% endfor %}

{% for i in (1..3) %}
{% capture alignment %}{% cycle 'left','right','center' %}{% endcapture %}
<div class="tn-row">
<div class="tn-col-1-2 tn-element-align-{{alignment}}">
<p class="tn-element-color-tumblenet tn-text-color-white">
element-align-{{alignment}}
</p>
</div>
</div>
{% endfor %}
