---
layout: main
---
<table>
  <tr>
    <th>
    </th>
   {% for textC in site.colors %}
   <th class="{% unless textC.name == 'white' %}tn-text-color-{{textC.name}}{% endunless %}">
    {{textC.name}}
   </th>
   {% endfor %}
  </tr>

  {% for backC in site.colors %}
  <tr>
    <td class="{% unless backC.name == 'black' %}tn-element-color-{{backC.name}}{% endunless %}">
      {{backC.name}}
    </td>
   {% for textC in site.colors %}
   <td class="tn-element-color-{{backC.name}} tn-text-color-{{textC.name}}">
    Hello
   </td>
   {% endfor %}
  </tr>
  {% endfor %}
</table>
