---
layout: main
---
<div class="tn-row">
  <div class="tn-col-1-12">
  <p></p>
  </div>
 {% for textC in site.colors %}
 <div class="tn-col-1-12 tn-text-color-{{textC.name}}">
  <p>{{textC.name}}</p>
  </div>
 {% endfor %}
</div>

 {% for backC in site.colors %}
<div class="tn-row">
  <div class="tn-col-1-12 tn-text-color-{{backC.name}}">
  <p>{{backC.name}}</p>
  </div>
 {% for textC in site.colors %}
 <div class="tn-col-1-12 tn-element-color-{{backC.name}} tn-text-color-{{textC.name}}">
  <p>Hello</p>
  </div>
 {% endfor %}
</div>
 {% endfor %}
