---
layout: main
---
{% for colorG in site.data.css.colors %}
<h1>{{ colorG.name }}</h1>
<table>
  <tr>
    <td>
    </td>
   {% for textC in colorG.colors %}
   <td class="{% unless textC.name == 'white' %}tn-text-color-{{textC.name}}{% endunless %}">
    {{textC.name}}
   </td>
   {% endfor %}
  </tr>

  {% for backC in colorG.colors %}
  <tr>
    <td class="{% unless backC.name == 'white' %}tn-text-color-{{backC.name}}{% endunless %}">
      {{backC.name}}
    </td>
   {% for textC in colorG.colors %}
   <td class="tn-element-color-{{backC.name}} tn-text-color-{{textC.name}}">
    Hello
   </td>
   {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endfor %}
