---
layout: page
title: Grid Test
---


  {% for i in (1..site.data.css.max.col) %}
<div class="tn-row">
  {% for j in (1..i) %}
  <div class="tn-col-1-{{i}}">
    <p class="tn-element-color-tumblenet tn-text-color-white">1-{{i}}</p>
  </div>
  {% endfor %}
</div>
  {% endfor %}


{% for a in (1..site.data.css.max.col) %}
<div class="tn-row">
{% for b in (1..site.data.css.max.col) %}
{% unless b>a %}
  <div class="tn-col-{{b}}-{{a}}">
    <p class="tn-element-color-tumblenet tn-text-color-white">{{b}}-{{a}}</p>
  </div>
{% endunless %}
{% endfor %}
  </div>
{% endfor %}
