---
layout: default
---
<header class="tumblenet-background-color tn-row">
  <h1 class="tn-col-1-3 tn-text-white">{{ site.title }}</h1>
  <nav class="tn-col-2-3">
    <ul class="tn-row tn-nav col-align-right">
      <li class="tn-nav-item tn-col-1-5"><a class="tn-background" href="#">Hello</a></li>
      <li class="tn-nav-item tn-col-1-5"><a href="#">Hello</a></li>
      <li class="tn-nav-item tn-col-1-5"><a href="#">Hello</a></li>
      <li class="tn-nav-item tn-col-1-5"><a href="#">Hello</a></li>
      <li class="tn-nav-item tn-col-1-5"><a href="#">Hello</a></li>
    </ul>
  </nav>
</header>
<main class="tn-container">
{{ content }}
</main>
<footer class="tn-footer">

</footer>
