---
layout: default
---
<header class="tn-header">
  <div class="tn-row tn-container">
    <div class="tn-col-1-3"><h1 class="tn-website-title tn-text-white">{{ site.title }}</h1></div>
    <nav class="tn-col-2-3">
      <ul class="tn-row tn-nav">
        <li class="tn-col-1-5 tn-nav-item"><a class="tn-background-onhover-dark-red" href="#">Hello</a></li>
        <li class="tn-col-1-5 tn-nav-item "><a class="tn-background-onhover-dark-red" href="#">Hello</a></li>
        <li class="tn-col-1-5 tn-nav-item "><a class="tn-background-onhover-dark-red" href="#">Hello</a></li>
        <li class="tn-col-1-5 tn-nav-item "><a class="tn-background-onhover-dark-red" href="#">Hello</a></li>
        <li class="tn-col-1-5 tn-nav-item "><a class="tn-background-onhover-dark-red" href="#">Hello</a></li>
      </ul>
    </nav>
  </div>
</header>
<main class="tn-background-white tn-main">
  <div class="tn-container ">
{{ content }}
  </div>
</main>
<footer class="tn-footer">
Hello world 2017
</footer>
