---
layout: default
---
<header class="tn-header">
  <div class="tn-row tn-container">
    <h1 class="tn-col-1-3 tn-website-title tn-text-color-white">{{ site.title }}</h1>
    <nav class="tn-col-2-3">
      <ul class="tn-nav">
        {% for item in site.data.nav %}
        <li class="tn-nav-item"><a class="tn-element-color-onhover-red-dark3{% if page.url == item.href %} tn-element-color-red-dark3{% endif %}" href="{{ site.url }}{{ item.href }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<main class="tn-element-color-white tn-main">
    PAGE.URL:{{ page.url }}
{{ content }}
</main>
<footer class="tn-footer">
Hello world 2017
</footer>
